---
layout: default
tags: post
---
<main class="content" role="main">
<article class="post">
<section class="post-content">
<a name="topofpage"></a>
{{content}}
</section>
<footer class="post-footer">
<section class="share">
<a class="icon" href="https://github.com/rajsite/rajsite.com/tree/master/{{ page.inputPath }}">
Suggest an Edit
</a>
<a class="icon" href="https://twitter.com/intent/tweet?url=https://rajsite.com{{ page.url }}&via=rajsite" target="_blank" title="Share on Twitter">
Share on <span class="icon">{% include icon-twitter.svg %}</span>
</a>
</section>
</footer>

<div class="teaser">

<div class="teaser-left">
<h5 class="index-headline">Written by</h5>

<section class="author">
<div class="author-card">
<div class="author-image"></div>
<h4 class="author-name">{{ site.name }}</h4>
<p class="author-bio">{{site.bio}}</p>
</div>

<div class="author-meta">
<p class="author-social">
{% include icon-github.html %}
{% include icon-twitter.html %}
{% include icon-linkedin.html %}
</p>
<hr>
<p class="published">Published <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%d %b %Y' }}</time></p>
</div>
</section>
</div>

<div class="teaser-right">
<h5 class="index-headline">Powered By</h5>

<footer class="site-footer">
<section class="poweredby">Proudly published with <a href="https://pages.github.com/">Github Pages</a>, <a href="https://www.11ty.dev/">Eleventy</a>, <a href="https://amp.dev/">AMP Project</a>, and <a href="https://github.com/ageitgey/amplify">Amplify</a></section>
<section class="copyright">All content copyright <a href="{{ site.contact_url }}">{{site.name}}</a> &copy; {{ site.year }}<br>All rights reserved.</section>
</footer>
</div>

</div>
</article>
</main>
